<link rel="stylesheet" href="/css/header.css">
<header class="navHeader">
    <a href="/issueTracker" style="text-decoration: none; color: aliceblue; font-size: 50px;" ><i class="fa-solid fa-bug fa-bounce"></i> Issue Tracker </a>
    <a href="/issueTracker/projectDetails" class="button">Project Details</a>
</header>
<!-- 
<i class="fa-solid fa-magnifying-glass "></i> -->